<!DOCTYPE html>
<html>
<body>
	<h1>Hello  {{username}}!</h1>
	<p>This is a private page</p>
	
	{{#admin}}
	<a href="/admin">Admin Page</a>
	{{/admin}}
	
	<form action="/logout" method="post">
		<input type="submit" value="Sign Out" />
		<input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
</body>
</html>
